:root {
    --font-family: Arial, sans-serif;
    --background-color: #F3F5FC;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --white-color: #FFFFFF;
    --text-color: #666;
    --button-hover-color: #0056b3;
    --border-color: #0A3871;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    width: 95%;
    background-color: var(--background-color);
    align-content: space-between;
    align-items: flex-start;
}

header {
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

.logo {
    height: 40px; 
    width: 42px;
    margin-left: 21px;
}

.content {
    display: flex;
    flex: 1;
    width: 100%;
}

.left-side {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 71px;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    margin-top: -25px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    border-radius: 25px;
}

.muneco {
    max-width: 100%;
    height: auto;
}

.input-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#input-text {
    flex: 1;
    width: 100%;
    background-color: var(--background-color);
}

.info-text {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 14px;
}

.info-text img {
    height: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 48%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 16px;
}

.encriptar {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.desencriptar {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

#result-container {
    width: 100%;
    text-align: center;
    padding: 50px;
    margin-top: -360px;
}

#encrypted-text {
    background-color: var(--white-color);
    padding: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    word-break: break-all;
    height: 304%;
    margin-top: -20px;
}

#copy-button {
    background-color: var(--white-color);
    color: var(--border-color);
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
}

#copy-button:hover {
    background-color: var(--button-hover-color);
}

#icon {
    padding-right: 1%;
}


@media (max-width: 1200px) {
    .content {
        flex-direction: column;
    }
    .muneco{
        display: none;
    }
    .right-side {
        background-color: #F3F5FC;
        flex: 1;
        display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
        align-items: center;
        padding: 19px;
    /*background-color: #FFFFFF;
    /* margin-top: -21px; */
    /* padding-bottom: 150px; */
    /* width: 20px;*/
    }

    .buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}